In [1]:
import pandas as pd
import numpy as np

In [2]:
cd

C:\Users\CVR

In [3]:
hd=pd.read_csv("pokemon_dataset.csv")
hd

,pokemon_id,name,primary_type,secondary_type,first_appreance,generation,category,total_base_stats,hp,attack,defense,special_attack,special_defense,speed
0,1,bulbasaur,grass,poison,red/blue,gen 1,regular,318,45,49,49,65,65,45
1,2,ivysaur,grass,poison,red/blue,gen 1,regular,405,60,62,63,80,80,60
2,3,venusaur,grass,poison,red/blue,gen 1,regular,525,80,82,83,100,100,80
3,4,charmander,fire,NaN,red/blue,gen 1,regular,309,39,52,43,60,50,65
4,5,charmeleon,fire,NaN,red/blue,gen 1,regular,405,58,64,58,80,65,80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,1021,raging-bolt,electric,dragon,scarlet/violet,gen 9,paradox,590,125,73,91,137,89,75
1021,1022,iron-boulder,rock,psychic,scarlet/violet,gen 9,regular,590,90,120,80,68,108,124
1022,1023,iron-crown,steel,psychic,scarlet/violet,gen 9,paradox,590,90,72,100,122,108,98
1023,1024,terapagos,normal,NaN,scarlet/violet,gen 9,legendary,450,90,65,85,65,85,60
1024,1025,pecharunt,poison,ghost,scarlet/violet,gen 9,mythical,600,88,88,160,88,88,88

In [5]:
print(hd.tail(5))
print(hd.head(5))

      pokemon_id          name primary_type secondary_type first_appreance  \
1020        1021   raging-bolt     electric         dragon  scarlet/violet
1021        1022  iron-boulder         rock        psychic  scarlet/violet
1022        1023    iron-crown        steel        psychic  scarlet/violet
1023        1024     terapagos       normal            NaN  scarlet/violet
1024        1025     pecharunt       poison          ghost  scarlet/violet

     generation   category  total_base_stats   hp  attack  defense  \
1020      gen 9    paradox               590  125      73       91
1021      gen 9    regular               590   90     120       80
1022      gen 9    paradox               590   90      72      100
1023      gen 9  legendary               450   90      65       85
1024      gen 9   mythical               600   88      88      160

      special_attack  special_defense  speed
1020             137               89     75
1021              68              108    124
1022             122              108     98
1023              65               85     60
1024              88               88     88
   pokemon_id        name primary_type secondary_type first_appreance  \
0           1   bulbasaur        grass         poison        red/blue
1           2     ivysaur        grass         poison        red/blue
2           3    venusaur        grass         poison        red/blue
3           4  charmander         fire            NaN        red/blue
4           5  charmeleon         fire            NaN        red/blue

  generation category  total_base_stats  hp  attack  defense  special_attack  \
0      gen 1  regular               318  45      49       49              65
1      gen 1  regular               405  60      62       63              80
2      gen 1  regular               525  80      82       83             100
3      gen 1  regular               309  39      52       43              60
4      gen 1  regular               405  58      64       58              80

   special_defense  speed
0               65     45
1               80     60
2              100     80
3               50     65
4               65     80

In [6]:
hd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   pokemon_id        1025 non-null   int64
 1   name              1025 non-null   object
 2   primary_type      1025 non-null   object
 3   secondary_type    526 non-null    object
 4   first_appreance   1025 non-null   object
 5   generation        1025 non-null   object
 6   category          1025 non-null   object
 7   total_base_stats  1025 non-null   int64
 8   hp                1025 non-null   int64
 9   attack            1025 non-null   int64
 10  defense           1025 non-null   int64
 11  special_attack    1025 non-null   int64
 12  special_defense   1025 non-null   int64
 13  speed             1025 non-null   int64
dtypes: int64(8), object(6)
memory usage: 112.2+ KB

In [7]:
hd.shape

(1025, 14)

In [8]:
hd.columns

Index(['pokemon_id', 'name', 'primary_type', 'secondary_type',
       'first_appreance', 'generation', 'category', 'total_base_stats', 'hp',
       'attack', 'defense', 'special_attack', 'special_defense', 'speed'],
      dtype='object')

In [9]:
hd.isnull()

,pokemon_id,name,primary_type,secondary_type,first_appreance,generation,category,total_base_stats,hp,attack,defense,special_attack,special_defense,speed
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,True,False,False,False,False,False,False,False,False,False,False
4,False,False,False,True,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1021,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1022,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1023,False,False,False,True,False,False,False,False,False,False,False,False,False,False
1024,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [10]:
hd.isnull().sum()

pokemon_id            0
name                  0
primary_type          0
secondary_type      499
first_appreance       0
generation            0
category              0
total_base_stats      0
hp                    0
attack                0
defense               0
special_attack        0
special_defense       0
speed                 0
dtype: int64

In [12]:
hd['name']

0          bulbasaur
1            ivysaur
2           venusaur
3         charmander
4         charmeleon
            ...
1020     raging-bolt
1021    iron-boulder
1022      iron-crown
1023       terapagos
1024       pecharunt
Name: name, Length: 1025, dtype: object

In [14]:
hd['secondary_type'].unique()

array(['poison', nan, 'flying', 'ground', 'fairy', 'grass', 'fighting',
       'psychic', 'steel', 'ice', 'rock', 'water', 'electric', 'fire',
       'dragon', 'dark', 'ghost', 'bug', 'normal'], dtype=object)

In [15]:
hd.iloc[2:10,4:6]

  first_appreance generation
2        red/blue      gen 1
3        red/blue      gen 1
4        red/blue      gen 1
5        red/blue      gen 1
6        red/blue      gen 1
7        red/blue      gen 1
8        red/blue      gen 1
9        red/blue      gen 1

In [39]:
hd['generation'].drop_duplicates()

0      gen 1
151    gen 2
251    gen 3
386    gen 4
493    gen 5
649    gen 6
721    gen 7
809    gen 8
905    gen 9
Name: generation, dtype: object

In [25]:
hd.shape

(1025, 14)

In [21]:
hd.describe()

,pokemon_id,total_base_stats,hp,attack,defense,special_attack,special_defense,speed
count,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000
mean,513.000000,427.686829,70.184390,77.521951,72.507317,70.080976,70.205854,67.186341
std,296.036315,112.770735,26.631054,29.782541,29.286972,29.658378,26.639329,28.717227
min,1.000000,175.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000
25%,257.000000,325.000000,50.000000,55.000000,50.000000,47.000000,50.000000,45.000000
50%,513.000000,450.000000,68.000000,75.000000,70.000000,65.000000,67.000000,65.000000
75%,769.000000,508.000000,85.000000,100.000000,90.000000,90.000000,86.000000,88.000000
max,1025.000000,720.000000,255.000000,181.000000,230.000000,173.000000,230.000000,200.000000

In [26]:
hd.rename(columns={"hp":"hp1"})

,pokemon_id,name,primary_type,secondary_type,first_appreance,generation,category,total_base_stats,hp1,attack,defense,special_attack,special_defense,speed
0,1,bulbasaur,grass,poison,red/blue,gen 1,regular,318,45,49,49,65,65,45
1,2,ivysaur,grass,poison,red/blue,gen 1,regular,405,60,62,63,80,80,60
2,3,venusaur,grass,poison,red/blue,gen 1,regular,525,80,82,83,100,100,80
3,4,charmander,fire,NaN,red/blue,gen 1,regular,309,39,52,43,60,50,65
4,5,charmeleon,fire,NaN,red/blue,gen 1,regular,405,58,64,58,80,65,80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,1021,raging-bolt,electric,dragon,scarlet/violet,gen 9,paradox,590,125,73,91,137,89,75
1021,1022,iron-boulder,rock,psychic,scarlet/violet,gen 9,regular,590,90,120,80,68,108,124
1022,1023,iron-crown,steel,psychic,scarlet/violet,gen 9,paradox,590,90,72,100,122,108,98
1023,1024,terapagos,normal,NaN,scarlet/violet,gen 9,legendary,450,90,65,85,65,85,60
1024,1025,pecharunt,poison,ghost,scarlet/violet,gen 9,mythical,600,88,88,160,88,88,88

In [28]:
hd["hp"].mean()

70.18439024390244

In [33]:
hd["hp"].median()

68.0

In [31]:
hd["hp"].std()

26.63105400369201

In [32]:
hd["hp"].mode()

0    60
Name: hp, dtype: int64

In [36]:
hd.dtypes

pokemon_id           int64
name                object
primary_type        object
secondary_type      object
first_appreance     object
generation          object
category            object
total_base_stats     int64
hp                   int64
attack               int64
defense              int64
special_attack       int64
special_defense      int64
speed                int64
dtype: object

In [37]:
numeric_type=hd.select_dtypes(include=[int,float])
print(numeric_type)

      pokemon_id  total_base_stats   hp  attack  defense  special_attack  \
0              1               318   45      49       49              65
1              2               405   60      62       63              80
2              3               525   80      82       83             100
3              4               309   39      52       43              60
4              5               405   58      64       58              80
...          ...               ...  ...     ...      ...             ...
1020        1021               590  125      73       91             137
1021        1022               590   90     120       80              68
1022        1023               590   90      72      100             122
1023        1024               450   90      65       85              65
1024        1025               600   88      88      160              88

      special_defense  speed
0                  65     45
1                  80     60
2                 100     80
3                  50     65
4                  65     80
...               ...    ...
1020               89     75
1021              108    124
1022              108     98
1023               85     60
1024               88     88

[1025 rows x 8 columns]

In [38]:
numeric_type.corr()

,pokemon_id,total_base_stats,hp,attack,defense,special_attack,special_defense,speed
pokemon_id,1.000000,0.194158,0.147574,0.173065,0.134994,0.118280,0.100935,0.092647
total_base_stats,0.194158,1.000000,0.667127,0.714396,0.629466,0.701154,0.697998,0.553797
hp,0.147574,0.667127,1.000000,0.476141,0.299013,0.359616,0.369087,0.179877
attack,0.173065,0.714396,0.476141,1.000000,0.465565,0.281880,0.226126,0.351055
defense,0.134994,0.629466,0.299013,0.465565,1.000000,0.210107,0.503281,0.008047
special_attack,0.118280,0.701154,0.359616,0.281880,0.210107,1.000000,0.493034,0.423150
special_defense,0.100935,0.697998,0.369087,0.226126,0.503281,0.493034,1.000000,0.214105
speed,0.092647,0.553797,0.179877,0.351055,0.008047,0.423150,0.214105,1.000000

In [40]:
hd.isnull().sum()

pokemon_id            0
name                  0
primary_type          0
secondary_type      499
first_appreance       0
generation            0
category              0
total_base_stats      0
hp                    0
attack                0
defense               0
special_attack        0
special_defense       0
speed                 0
dtype: int64

In [42]:
import numpy as np
hd.iloc[4,8]=np.nan

In [43]:
hd.isnull()

,pokemon_id,name,primary_type,secondary_type,first_appreance,generation,category,total_base_stats,hp,attack,defense,special_attack,special_defense,speed
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,True,False,False,False,False,False,False,False,False,False,False
4,False,False,False,True,False,False,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1021,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1022,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1023,False,False,False,True,False,False,False,False,False,False,False,False,False,False
1024,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [44]:
hd.isnull().sum()

pokemon_id            0
name                  0
primary_type          0
secondary_type      499
first_appreance       0
generation            0
category              0
total_base_stats      0
hp                    1
attack                0
defense               0
special_attack        0
special_defense       0
speed                 0
dtype: int64

In [46]:
# General-purpose method and Supports slicing
hd.iloc[1, 1]

'ivysaur'

In [48]:
#Faster than iloc for single value access because it doesn't check for multi-element slicing.
hd.iat[1, 1]

'ivysaur'